body {
    background-image: url(./img/22.png);
    background-size: cover;
}

.nav-menu {
    margin-top: 50px;
    padding: 1px;    
}

.nav-menu li {
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
}

.bs {
    padding: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(10px);
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    color: darkblue;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    margin: -1.6px;
}

.nav-menu[alt="logo"]:hover {
    text-decoration: none;
}

.nav-menu li:first-child {
    
    float: left;
    margin-top: -20px;
    margin-left: 130px;
    margin-right: -50%;
    position: relative;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.text-center {
    text-align: center;
}

.text-font {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    color: white;
    margin-top: 150px;
}

#head1 {
    font-size: 30px;
    text-transform: uppercase;
}

#head2 {
    margin-top: auto;
    font-size: 100px;
    text-transform: uppercase;
}

footer {
    margin-top: 175px;
    padding: 10px;
    margin-left: 600px;
    margin-right: 600px;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    border-radius: 20px;
}

footer p {
    color: white;    
}

aside {
    overflow-y: scroll;
    height: 80%;
    width: 25%;
    right: 20px;
    top: 0;
    position: fixed;
    margin-top: 100px;
    margin-bottom: 50px;
}

aside::-webkit-scrollbar {
    display: none;
}

aside h2 {
    color: white;
    margin-right: 30px;
}

.list-header {
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 12px;
    margin-left: 12px;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    background-size: cover;
    background-position: center;
    height: 105px;
    width: 80%;
}

.list-header img {
    height: 60px;
    border: 1px solid blue;
}

.list-header h3, h4 {
    color: white;
    text-align: left;
}







